.jumbotron{

  background-image: url('../img/oaoutside.jpeg');

  background-repeat:cover;

}

.navbar{

  background-color:#003da5;

}

.nav-item, .navbar-brand{

  color:white;

}

a:hover {
    color: black;
}

.navbar-toggler-icon{

  color:white;

}

a:link {
    text-decoration: none;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.landon {
    padding: 0;
}