{% load static %}

<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125606077-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125606077-1');
    </script>


    <title>WorkFlow</title>


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->


    <!-- Custom styles for this template -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125606077-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125606077-2');
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125606077-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125606077-3');
    </script>


  </head>

  <body>

  <!-- navbar    -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
      <div class="container">
        <a class="navbar-brand order-1 mr-0" href="#" target="_blank">WorkFlow</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
            <!--<i class="material-icons">visibility</i>-->
        </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
          <div class="navbar-nav ">
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link landon" href="/doctors">Doctors</a>
            <a class="nav-item nav-link" href="/tests">Tests</a>
            <a class="nav-item nav-link" href="/workups">Workups</a>

            <a class="nav-item nav-link" href="/admin">Admin</a>
            <!--<a class="nav-item nav-link" href="/doctor/create">Add Doctor</a>-->
            <!--<a class="nav-item nav-link" href="/test/create">Add Test</a>-->
            <!--<a class="nav-item nav-link" href="/workup/create">Add Workup</a>-->
            <!--<a class="nav-item nav-link" href="update/profile">Edit Profile</a>-->
            <!--<a class="nav-item nav-link" href="/register">Sign Up</a>-->
            <a class="nav-item nav-link" href="/accounts/logout">Log Out</a>
            {% else %}
            <a class="nav-item nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/doctors">Doctors</a>
            <a class="nav-item nav-link" href="/tests">Test</a>
            <a class="nav-item nav-link" href="/workups">Workups</a>
            <a class="nav-item nav-link" href="/login">Login</a>
            {% endif %}

          </div>
        </div>
      </div>
    </nav>
<!--/navbar-->

  {% block content %}

  {% endblock %}
    <hr>
    <footer class="container">


      <!-footer-->
     <!-- footer -->
      <div class="row py-3">
        <div class="col-md-7">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" href="#">Community</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Upgrade to Pro!</a>
            </li>
          </ul>
        </div>
        <div class="col-md text-md-right">
          <small>&copy; 2018 WorkFlow By: Jeffrey L Williams</small>
        </div>
      </div><!-- /footer -->
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>-->
    <!--<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

  <!--------------------------------------------------------------------------------------------------->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>
