{% extends 'accounts/base.html' %}

{% block content %}

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron jumbotron-fluid text-white">
        <div class="container text-sm-center pt-5">
          <h1 class="display-3 text-white-50 pt-5 pb-5">WorkFlow</h1>
          <p class="lead">This is a web application to help improve your understanding of the WorkFlow of your current Ophthalmology Clinics!</p>
          <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Doctors</h2>
            <p>Learn or review the Doctors WorkFlow here. This section shows all the doctors in your office with a brief description of their specialties.</p>
            <p></p>
            <p><a class="btn btn-info" href="/doctors" role="button">View Doctors &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Testing</h2>
            <p>Learn or review the Testing Workflow here. This sections shows all of the expected tests in your office.</p>
            <p><a class="btn btn-info" href="/tests" role="button">View Tests &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Workups</h2>
            <p>Learn or review the Workups WorkFlow here. This sections shows all of the different type of work ups in your office.</p>
            <p><a class="btn btn-info" href="workups" role="button">View Workups &raquo;</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

{% endblock %}