{% extends 'accounts/base.html' %}

{% block content %}


<body>

    <div class="container pt-5">
            <!--Test Card-->
        <div>
             <h2 id="speakers" class="display-5 text-center my-5 text-muted pt-4"> {{test.test_name}} </h2>
            <hr>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-4 mx-auto">
                <div class="card mb-3">
                      <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFvAHFaUMTjsQM4A2Kztu5cFzWZgqvphhEsy_Cl9iyOk6YMh4mvQ" alt="Test">
                    <!--<div class="card-body">-->
                      <!--<h4 class="card-title">{{ test.test_name }}</h4>-->
                      <!--<p class="card-text">{{test.test_description}}</p>-->
                    <!--</div>-->
                </div>
            </div>
            <!--/Test Card-->
        </div>

            <!--<h2>Test:{{ test.test_name }}</h2>-->
            <!--<p>Description: {{test.test_description}}</p>-->


        <!--Test Work Ups-->
        <div class="col-md-6 mt-5 mx-auto">
            <hr>
            {% for workup in test.workuptests.all %}
                <a href="{% url 'view_workup' pk=workup.pk %}"><p> {{ workup.workup_name }}</p></a>
            {% empty%}
                <p>I have no workups!</p>
            {% endfor %}


        </div>
            <!--/Test Work Ups-->

        <div class="col-md-6 mt-5 mx-auto">
            <hr>
            <h4>Doctors Who Use This Test </h4>
            <!--Doctors that use this test-->
            {% for doctor in test.doctor.all %}
                <a href="{% url 'view_doctor' pk=doctor.pk %}"><p> {{ doctor }}</p></a>
            {% empty%}
                <p>No doctors is using the current workup!</p>
            {% endfor %}
            <!--/Doctors that use this test-->
        </div>

    </div>
</body>
{% endblock %}