{% extends 'agent_app/base.html' %}

{% block content %}


<body>
	{% if form.errors %}
	<p>You entered something wrong</p>
	{% endif %}

	<!--{% if next %}-->
	<!--<p>Page not available.</p>-->
	<!--{% endif %}-->

	<h2>Login</h2>
	<form method="post" action="{% url 'login' %}">
		{% csrf_token %}

		{{ form }}
		<!--<p> Username: {{ form.username }} </p>-->
		<!--<p> Password: {{ form.password }} </p>-->

		<input type="submit" value="login">
		<input type="hidden" name="next" value="{{ next }}">
	</form>

	<br>
  <p><strong>-- OR --</strong></p>
  <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>

	<!--<form method="post" action="{% url 'index' %}">-->
		<!--{% csrf_token %}-->
	  <!--<div class="imgcontainer">-->
		<!--<img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" class="avatar">-->
	  <!--</div>-->

	  <!--<div class="container">-->
		<!--<label for="uname"><b>Username</b></label>-->
		<!--<input type="text" placeholder="Enter Username" name="uname" required>-->

		<!--<label for="psw"><b>Password</b></label>-->
		<!--<input type="password" placeholder="Enter Password" name="psw" required>-->

		<!--<button type="submit">Login</button>-->
		<!--<label>-->
		  <!--<input type="checkbox" checked="checked" name="remember"> Remember me-->
		<!--</label>-->
	  <!--</div>-->

	  <!--<div class="container" style="background-color:#f1f1f1">-->
		<!--<button type="button" class="cancelbtn">Cancel</button>-->
		<!--<span class="psw">Forgot <a href="#">password?</a></span>-->
	  <!--</div>-->
	<!--</form>-->
</body>


{% endblock %}