{% extends 'accounts/base.html' %}

{% block content %}

<body>
    <h1>Registration Page</h1>
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        <!---->
        <!--{% if form.errors %}-->
        <!--<p>Errors in the form!</p>-->
        <!--{% endif %}-->
        <!---->
          <div class="container">

            <h1>Register</h1>
            <p>Please fill in this form to create an account.</p>
            <hr>

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>

              <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Email" name="username" required>

            <label for="password1"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password1" required>

            <label for="password2"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="password2" required>
            <hr>

            <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
            <button type="submit" class="registerbtn">Register</button>
          </div>

          <div class="container signin">
            <p>Already have an account? <a href="#">Sign in</a>.</p>
          </div>


        <input type="submit" value="Register">
    </form>

   <br>
</body>






{% endblock %}