{% extends 'accounts/base.html' %}

{% block content %}


<body>
    <div class="container pt-4">

     <h1 class="display-4 text-center my-5 text-muted pt-4">Workups</h1>
            <hr>

        {% if workups %}
            <div class="row">

                {% for workup in workups.all %}

                    <div class="col-lg order-lg-3 col-lg-4 text-center">
                        <div class="list-group list-group-item list-group-item-action">

                        <li>
                            <a href="{{ workup.get_absolute_url}}">{{ workup }}</a>
                        </li>

                        </div>
                    </div>
                {% endfor %}

              {% else %}
                <h2>No workups have been added!</h2>
            {% endif %}
            </div>

    </div>

</body>
{% endblock %}