{% extends 'accounts/base.html' %}

{% block content %}


<body>

    <div class="container pt-5">

        <div class="col-md-6 mt-5 mx-auto">
            <h2 class="display-4 text-center my-5 text-muted pt-4">Workup:<br>
                {{ workup.workup_name }}</h2>
            <hr>
        </div>
        <div class="col-md-6 mt-5 mx-auto">
            <p>Instructions:<br>
                {{ workup.workup_instruction }}</p>
        </div>



        <!--Test Card-->
        <div class="col-md-6 mt-5 mx-auto">
            <hr>
        <h4 class="text-center my-5 pt-4">Doctors using this workup</h4>
        <div class="col-md-4 mt-5">
        <!--/Tests Card-->

            <!--Test Instructions-->




            <!--/Test Instructions-->

            <!--Doctors that use this test-->
            {% for doctor in workup.doctor.all %}
            <a href="{% url 'view_doctor' pk=doctor.pk %}"><p> {{ doctor }}</p></a>
            {% empty%}
            <p>No doctors is using the current workup!</p>
            {% endfor %}
            <!--/Doctors that use this test-->
        </div>
            <hr class="pb-4">
        </div>
    </div>
</body>
{% endblock %}