{% extends 'accounts/base.html' %}

{% block content %}


<body>

    <div class="container pt-5 pb-4">

        <div class="col-md-6 mt-5 mx-auto">
            <h2 class="display-4 text-center my-5 text-muted pt-4">Workup:<br>
                {{ workup.workup_name }}</h2>
            <hr>
        </div>
        <div class="col-md-6 mt-5 mx-auto">
            <p>Instructions:<br>
                {{ workup.workup_instruction }}</p>
                        <hr class="pb-4">

        </div>
    </div>
</body>
{% endblock %}