{% extends 'accounts/base.html' %}

{% block content %}


<body>

    <div class="container pt-4">

        <div>
             <h2 id="speakers" class="display-4 text-center my-5 text-muted pt-4"> {{doctor.doctors_name}} </h2>
            <hr>
        </div>

        <div class="row pt-5">

            <div class="col-sm-6 col-lg-4 mx-auto">
                    <div class="card mb-3" style="width: 18rem;">
                      <img class="card-img-top" src="https://images.vexels.com/media/users/3/144185/isolated/preview/a9075b02366ea61e8995f8d5b08d0267-flat-doctor-cartoon-by-vexels.png" alt="Vivianne">
                      <div class="card-body">
<!--Target = _blank creates a new tab-->
                          <p class="card-text"><a href="{{doctor.bio}}" target="_blank">View Profile</a></p>
                    </div>
                </div>
            </div>
            <!--Doctor-->
        </div>

        <div class="col-md-6 mt-2 mx-auto">
            <hr>
            <h2> Work Ups</h2>

        <!--Workups -->
            {% for workup in doctor.workupdoctors.all %}

                <a href="{% url 'view_workup' pk=workup.pk %}"><p> {{ workup.workup_name }}</p></a>

            {% empty%}
                <p>I have no work ups!</p>
            {% endfor %}

        <!--/Workups-->
        </div>

        <div class="col-md-6 mt-2 mx-auto">
            <hr>
            <h2>Current Test</h2>

            {% for test in doctor.tests.all %}
                <a href="{% url 'view_test' pk=test.pk %}"><p> {{ test.test_name }}</p></a>

            {% empty%}

                <p>I have no tests!</p>
            {% endfor %}
            <!--Tests-->
        </div>
        <!--<hr>-->

        <!--Doctor Card with types of workups listed below-->
    </div>
</body>

{% endblock %}